#about-me {
    padding-top: 60px;
}
.about-me-mobile {
    display: none;
}

.interview {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.interview i {
    font-weight: 700;
    font-size: 26px;
}
.interview h1 {
    font-size: 72px;
    color: #f0f8ff;
    text-shadow: 2px 0 0 #000;
}
.interview h4 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}
.interview span {
    font-size: 25px;
    color: #f0f8ff;
    text-shadow: 2px 0 0 #000;
}
.interview p {
    margin-top: 20px;
    font-size: 22px;
    text-align: justify;
    color: #000;
}
