/* Navigation */
#nav {
    z-index: 10;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #f0f8ff;
    box-shadow: rgba(255, 0, 0, 0.3) 2px 0 0;
}
#nav a {
    font-size: 24px;
    display: inline-block;
    color: #000;
    padding: 16px 24px;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.3);
}
#nav a:hover {
    color: #fff;
    background-color: #b3d5f2;
}
